<div class="container mt-50">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Генератор пароля</h1>

      <div class="field">
        <label>Введите необходимую длину пароля</label>
        <input class="input" (input)="onChangeLength($event)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Используйте буквы
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Используйте цифры
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Используйте символы
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Генерировать
      </button>

      <div class="box mt-15" *ngIf="password">
        <label>Ваш пароль</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>

